*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/data/extractions/wordprocessor/Document/Resume[[:space:]]of[[:space:]]Lisa.Lisa.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/data/extractions/wordprocessor/Document/Resume.Lisa.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/data/grounding_examples/finance/Nubank[[:space:]](NU)[[:space:]]-[[:space:]]3Q24[[:space:]]Earnings[[:space:]]Release.pdf filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/data/grounding_examples/finance/Vale[[:space:]]do[[:space:]]Rio[[:space:]]Doce[[:space:]](VALE[[:space:]]3)[[:space:]]-[[:space:]]Transcript[[:space:]]Vale’s[[:space:]]3Q24[[:space:]]Conference[[:space:]]Call.pdf filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/data/grounding_examples/finance/Vale[[:space:]]do[[:space:]]Rio[[:space:]]Doce[[:space:]](VALE[[:space:]]3)[[:space:]]-[[:space:]]Vale's[[:space:]]Performance[[:space:]]in[[:space:]]3Q24.pdf filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/data/grounding_examples/general/World[[:space:]]Bank[[:space:]]Annual[[:space:]]Report[[:space:]]2024.pdf filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/data/grounding_examples/grounding_microsoft/2023_Microsoft_Annual_Report-LAPTOP-MGL2VFEC.pdf filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/data/grounding_examples/grounding_microsoft/2023_Microsoft_Annual_Report.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/data/grounding_examples/grounding_microsoft/2023_Microsoft_Annual_Report.pdf filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/data/grounding_examples/grounding_microsoft/2024_Annual_Report.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/data/grounding_examples/grounding_microsoft/2024_Annual_Report.pdf filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/examples/images/spanish_bottled_gazpacho.jpg filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/Brainstorming[[:space:]]and[[:space:]]Focus[[:space:]]Group[[:space:]]Quantitative[[:space:]]Experimentation[[:space:]]2.1[[:space:]]-[[:space:]]treatment[[:space:]]run.ipynb filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/Brainstorming[[:space:]]and[[:space:]]Focus[[:space:]]Group[[:space:]]Quantitative[[:space:]]Experimentation[[:space:]]2.2[[:space:]]-[[:space:]]treatment[[:space:]]run.ipynb filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/Debating[[:space:]]Quantitative[[:space:]]Experimentation[[:space:]]1[[:space:]]-[[:space:]]treatment[[:space:]]run.ipynb filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/Populations[[:space:]]creation.ipynb filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_1/Document/Report[[:space:]]for[[:space:]]AquaPure[[:space:]]Solutions-[[:space:]]Strategies[[:space:]]for[[:space:]]Modernizing[[:space:]]Water[[:space:]]Purification[[:space:]]Systems.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_1/Document/Report[[:space:]]for[[:space:]]BioSphere[[:space:]]Innovations-[[:space:]]Feasibility[[:space:]]Study[[:space:]]for[[:space:]]Waste-to-Energy[[:space:]]Solution.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_1/Document/Report[[:space:]]for[[:space:]]BrightPath[[:space:]]Industries-[[:space:]]Strategies[[:space:]]for[[:space:]]Enhancing[[:space:]]Supply[[:space:]]Chain[[:space:]]Resilience.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_1/Document/Report[[:space:]]for[[:space:]]CleanFuture[[:space:]]Corp-[[:space:]]Strategies[[:space:]]for[[:space:]]Reshaping[[:space:]]Public[[:space:]]Image[[:space:]]and[[:space:]]Sustainability[[:space:]]Practices.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_1/Document/Report[[:space:]]for[[:space:]]EcoFuture[[:space:]]Enterprises-[[:space:]]Strategies[[:space:]]for[[:space:]]Sourcing[[:space:]]Sustainable[[:space:]]Materials.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_1/Document/Report[[:space:]]for[[:space:]]EcoTech[[:space:]]Solutions-[[:space:]]Strategies[[:space:]]for[[:space:]]Enhancing[[:space:]]Product[[:space:]]Appeal[[:space:]]and[[:space:]]Market[[:space:]]Presence.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_1/Document/Report[[:space:]]for[[:space:]]GreenWave[[:space:]]Innovations-[[:space:]]Strategies[[:space:]]for[[:space:]]Reducing[[:space:]]Waste[[:space:]]and[[:space:]]Enhancing[[:space:]]Sustainability.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_1/Document/Report[[:space:]]for[[:space:]]MultiLever-[[:space:]]Strategies[[:space:]]for[[:space:]]Addressing[[:space:]]Inflation[[:space:]]and[[:space:]]Enhancing[[:space:]]Consumer[[:space:]]Demand.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_1/Document/Report[[:space:]]for[[:space:]]SolarWave[[:space:]]Technologies-[[:space:]]Strategies[[:space:]]for[[:space:]]Securing[[:space:]]Funding[[:space:]]for[[:space:]]Solar[[:space:]]Panel[[:space:]]Project.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_1/Document/Report[[:space:]]for[[:space:]]TerraBuild-[[:space:]]Strategies[[:space:]]for[[:space:]]Reducing[[:space:]]Carbon[[:space:]]Footprint[[:space:]]and[[:space:]]Improving[[:space:]]Public[[:space:]]Image.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_1/Document/Report[[:space:]]for[[:space:]]UrbanGreen-[[:space:]]Strategies[[:space:]]for[[:space:]]Sustainable[[:space:]]Urban[[:space:]]Development[[:space:]]Projects.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_2/Document/Report[[:space:]]for[[:space:]]AquaPure-[[:space:]]Sustainable[[:space:]]Funding[[:space:]]Model[[:space:]]and[[:space:]]Operational[[:space:]]Efficiency[[:space:]]Improvement.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_2/Document/Report[[:space:]]for[[:space:]]EcoTech[[:space:]]Innovations-[[:space:]]Strategies[[:space:]]for[[:space:]]Improving[[:space:]]Visibility[[:space:]]and[[:space:]]Consumer[[:space:]]Engagement.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_2/Document/Report[[:space:]]for[[:space:]]FinTech[[:space:]]Nexus-[[:space:]]Strategies[[:space:]]for[[:space:]]Competitive[[:space:]]Advantage[[:space:]]and[[:space:]]Compliance[[:space:]]Navigation.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_2/Document/Report[[:space:]]for[[:space:]]GreenWave[[:space:]]Logistics-[[:space:]]Sustainable[[:space:]]Logistics[[:space:]]Model[[:space:]]Development.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_2/Document/Report[[:space:]]for[[:space:]]MedTech[[:space:]]Solutions-[[:space:]]Strategies[[:space:]]for[[:space:]]Regulatory[[:space:]]Compliance[[:space:]]and[[:space:]]Market[[:space:]]Penetration.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_2/Document/Report[[:space:]]for[[:space:]]MultiLever-[[:space:]]Strategies[[:space:]]to[[:space:]]Address[[:space:]]Inflation[[:space:]]and[[:space:]]Decreased[[:space:]]Consumer[[:space:]]Demand.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_2/Document/Report[[:space:]]for[[:space:]]SafeHaven-[[:space:]]Strategies[[:space:]]for[[:space:]]Streamlining[[:space:]]Claims[[:space:]]Processing[[:space:]]and[[:space:]]Improving[[:space:]]Communication.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_2/Document/Report[[:space:]]for[[:space:]]StellarTech-[[:space:]]Streamlining[[:space:]]Operations[[:space:]]and[[:space:]]Navigating[[:space:]]Regulatory[[:space:]]Compliance.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_2/Document/Report[[:space:]]for[[:space:]]TechSphere-[[:space:]]Crisis[[:space:]]Management[[:space:]]and[[:space:]]Cybersecurity[[:space:]]Enhancement[[:space:]]Strategies.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_2/Document/Report[[:space:]]for[[:space:]]UrbanGrow-[[:space:]]Strategies[[:space:]]for[[:space:]]Addressing[[:space:]]Climate[[:space:]]Change[[:space:]]and[[:space:]]Supply[[:space:]]Chain[[:space:]]Disruptions.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
external/TinyTroupe/publications/paper_artifacts_june-2025/extractions/synthetic_data_example_2/Document/Report[[:space:]]for[[:space:]]UrbanHealth-[[:space:]]Comprehensive[[:space:]]Outreach[[:space:]]Strategy[[:space:]]and[[:space:]]Funding[[:space:]]Proposal.Lisa[[:space:]]Carter.docx filter=lfs diff=lfs merge=lfs -text
